html, body, body > .ember-view {
  height: 100%;
  margin: 0; padding: 0;
}

welcome-terminal {
  display: block;
  position: relative;
  width: 100%; height: 100%;
  overflow: auto;
  font-size: 16px;
  line-height: 1.25;
  font-family: 'Consolas' monospace;
}
welcome-terminal-line {
  display: block;
}
welcome-terminal-prompt {
  white-space: pre;
}
welcome-terminal-command {
  white-space: pre;
}
welcome-terminal-result {
  display: block;
  white-space: pre;
}

welcome-caret {
  position: absolute;
  background: black;
  vertical-align: top;
  height: 1.25em;
  opacity: .5;
}
welcome-caret.blink {
  animation: blink .75s step-start infinite;
}

@keyframes blink {
  0% { opacity: .5; }
  50% { opacity: 0; }
  100% { opacity: .5; }
}
