welcome-terminal {
  display: block;
  position: relative;
  width: 100%; height: 100%;
  overflow: auto;
  font-size: 16px;
  line-height: 1.25;
  font-family: 'Consolas' monospace;
}
welcome-terminal-line {
  display: block;
}
welcome-terminal-prompt {
  white-space: pre;
}
welcome-terminal-command {
  white-space: pre;
}
welcome-terminal-result {
  display: block;
  white-space: pre;
}

welcome-caret {
  position: absolute;
  vertical-align: bottom;
  background: black;
  height: 1em;
}
welcome-caret.blink {
  animation: blink .75s step-start infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
